nav {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: #333;
    font-family: Arial, serif;
}

nav a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
}

.dropdown .drop-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 12px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
}

.dropdown-content a {
    color: white;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333;
    border: solid black 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}