* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1000px;
    height: 991px;
    margin: 0 auto;
}

header {
    width: 994px;
    margin: 0 auto;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
