section {
    display: flex;
}

#left {
    width: 216px;
    background-color: #EBECEE;
}

#center {
    width: 578px;
    background-color: white;
}

#right {
    width: 212px;
    background-color: #EBECEE;
}

h3, p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 7px;
}