* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1000px;
    height: 991px;
    margin: 0 auto;
}
.logo {
    height: 175px;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
}
.left-block {
    padding: 15px 0 0 25px;
}
.right-block {
    display: flex;
    flex-direction: column;
}
.contacts p {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #4BA6BC;
    padding:2px;
    text-align: left;
}
.contacts {
    padding-top:5px;
    width: 170px;
    align-self: flex-end;
}
.countries {
    display: flex;
    justify-content: flex-end;
    padding: 35px 20px 0 0;
}
.india, .nepal, .tibet, .butane, .shri-lanka, .maldives {
    width: 58px;
    display: flex;
    flex-direction: column;
}
.india img, .nepal img, .tibet img, .butane img, .shri-lanka img, .maldives img {
    width: 42px;
    align-self: center;
}
.india p, .nepal p, .tibet p, .butane p, .shri-lanka p, .maldives p {
    font-family: Helvetica, sans-serif;
    font-size: 9px;
}
.banner {
    width: 1000px;
    height: 237px;
    margin: 0 auto;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
footer p {
    color: white;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    padding-top: 6px;
}